* {
margin: 0;
padding:0;
box-sizing: border-box;

}

body {

width: 100%;
height: 680px;
background-color: rgb(7, 1, 14);

}

/* nav-bar begins */

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 60px;
    background-color: rgb(14, 14, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    z-index: 1000;
}

.nav-logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;

}

span {

    color: #287cff;

}


.nav-links a {
    text-decoration: none;
    color: whitesmoke;

}

/* active navigation links */
.nav-links a {

    text-decoration: none;
    position: relative;
    

}

.nav-links a.active {

    color:  #287cff;
}

/* active underline */
.nav-links a.active::after {

    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: gray;
    border-radius: 5px;
}



.nav-button {
    background: rgb(10, 3, 69);
    color: rgb(240, 238, 238);
    text-decoration: none;
    padding: .3rem 1.5rem;
    border-radius: 20px;
    border: 1px solid white;

}

.nav-button:hover {

    background: #333;

}

.nav-button a {

    color: black;

}


/* end of nav bar */

/* hero-section begins */
.hero-section {

width: 100%;
height: 500px;
/* background-color: white; */
background-color: #0b0f19;

}

.hero-content {

padding-top: 9rem;
margin-left: 1.2rem;

}

.small-heading {

display: flex;
color: white;
/* align-items: center; */
gap: 10px;
font-size: 11px;
font-weight: 600;
letter-spacing: 3px;

}

.hero-content h1 {

margin-top: 1.2rem;
color: #f2f2f4;
font-size: 30px;

}

.hero-content h1 strong { 

color: #287cff;

}

.hero-content p {

margin-top: 1rem;
max-width: 500px;
line-height: 1.8;
font-size: 16px;
color: rgb(244, 241, 241);

}

.hero-image {

height: 390px;
width: 54%;
margin-left: 35rem;
/* position: relative; */
margin-top: -300px;

}

.hero-btn {
    
display: inline-block;
margin-top: 25px;
padding: 12px 25px;
background: #287cff; 
color: white; 
border-radius: 30px;
font-size: 14px;
transition: 0.3s;
text-decoration: none;

}

.hero-btn:hover {
    
background: #1265e6; 
transform: translateY(-2px);

}

.landing-section {

height: 530px;
background-color: #030319;
display: grid;
grid-template-columns: 0.9fr 1.2fr;
gap: 70px;

}


.landing-content {

/* padding-top: 2rem; */
}
.section-label h2 {
    
font-size: 30px;
line-height: 1.25;
margin-left: 1.5rem;
margin-top: 1.5rem; 
color: white;

}

span {

color: #1265e6;
}

.section-label p { 
    
color: rgb(234, 233, 233); 
font-size: 16px; 
line-height: 1.8; 
margin-bottom: 30px;
margin-left: 1.5rem; 

}

.contact-item {
    
display: flex; 
align-items: center; 
gap: 18px;
margin-bottom: 25px;
margin-left: 1.5rem;  

}

.contact-item h3 {

color: white;
}

.contact-icon { 
    
width: 48px; 
height: 48px; 
display: flex; 
align-items: center; 
justify-content: center; 
border-radius: 50%; 
background: #e8f1ff; 
color: #287cff; 
font-size: 19px; 
font-weight: 600; 

}

.contact-item h3 { 
    
font-size: 17px; 
margin-bottom: 2px; 

}

.contact-item p { 
    
color: white; 
font-size: 15px; 

} 

.contact-item small { 
    
color: white; 
font-size: 13px; 

}

.form-container { 
    
padding-top: 1.5rem;
padding-left: 1.5rem;
border: 1px solid #e2e7ef; 
border-radius: 10px; 
box-shadow: 0 5px 25px rgba(30, 50, 80, 0.06); 

} 

.form-container h2 {

margin-top: 1rem;
}

.form-container p { 
    
color: white; 
font-size: 17px; 
margin-top: 1rem;

}

.form-row { 
    
display: grid; 
grid-template-columns: 1fr 1fr; 
gap: 18px; 

} 

.input-box { 
    
margin-top: 1rem;

}

.input-box label { 
    
display: block; 
color: rgb(227, 227, 227); 
font-size: 12px; 
font-weight: 500; 
margin-bottom: 7px; 

}

.section-label  {

color: rgb(225, 225, 225);

}

.form-container h2 {

color: white;

}

span {

color: #1265e6;

}

.input-box input, 
.input-box select, 
.input-box textarea { 
    
width: 50%; 
border: 1px solid #dce2eb; 
border-radius: 6px; 
padding: 12px; 
font-family: inherit; 
font-size: 12px; 
outline: none; 
background: white; 

}

.input-box input:focus, 
.input-box select:focus, 
.input-box textarea:focus { 
    
border-color: #287cff; 

} 

.input-box textarea { 
    
resize: vertical; 

}

.submit-btn { 

margin-top: 1rem;
width: 50%; 
border: none; 
border-radius: 5px; 
padding: 13px; 
background: #287cff; 
color: white; 
font-family: inherit; 
font-size: 13px; 
cursor: pointer; 
transition: 0.3s; 

}

.submit-btn:hover { 
    
background: #1265e6; 

}

/* landing-section3 */
.ready {

    width: 100%;
    height: 90px;
    border-radius: 22px;
    padding: 28px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: rgb(42, 42, 100);
    
}

.ready1 {

display: flex;
align-items: center;
gap: 18px;


}

.ri-space-ship-2-line {

font-size: 55px;

}

.ready-icon {

width: 64px;
height: 64px;
font-size: 30px;
color: #1b2233;

}



.ready h2 {

color: rgb(213, 210, 210);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.3rem;
margin-left: 2rem;

}

.ready p {

color: rgb(213, 210, 210);
margin-left: 2rem;
font-size: 1rem;
margin-top: 0.5rem;

}

.ready111 {

background:  #041a52;
color: rgb(220, 214, 214);
text-decoration: none;
padding: 14px;
border-radius: 14px;
font-weight: 700;
white-space: nowrap;
transition: 0.3s ease;

}

.ready111:hover {

background: #333 ;

}
/* landing-section3 ends */

/* footer */
.footer {

/* background-color: black; */
background-color: rgb(14, 14, 73);
width: 100%;
height: 90px;
padding-top: 1px;

}

.footer-container {

display: flex;
justify-content: baseline;
align-items: center;
gap: 20px;
flex-wrap: wrap;

}

.footer-brand h3{

color: rgb(220, 214, 214);
margin-left: 1.5rem;
font-size: 1rem;
font-family: Georgia, 'Times New Roman', Times, serif;
letter-spacing: 1px;

}

.footer-brand p {

color: rgb(220, 214, 214);
margin-top: 4px;
font-size: 0.95rem;
margin-left: 1.5rem;

}

.footer-socials {

display: flex;
justify-content: center;
align-items: center;
gap: 12px;
margin-left: 20rem;
margin-top: 2rem;

}

.footer-socials a {

color: rgb(228, 222, 222);
width: 40px;
height: 40px;
text-decoration: none;
align-items: center;
justify-content: center;
border-radius: 50%;

}

.footer-copy {

color: rgb(228, 222, 222);
margin-left: 12rem;
font-family: Georgia, 'Times New Roman', Times, serif;

}
/* footer ends */


@media (max-width: 767px) {

    body{
        overflow-x: hidden;
    }

    nav {
        height: auto;
        min-height: 130px;
        padding: 12px 1rem;
        flex-direction: column;
        justify-content: flex-start;
        gap: 25px;
    }

    .nav-logo {
        font-size: 20px;
    }

    .nav-links {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        text-align: center;
        font-size: 14px;
    }

    .nav-links a {
        padding: 5px;
    }

    .nav-button {
        padding: .3rem 1rem;
        font-size: 14px;
    }

    
        
    .hero-section {
    
    height: auto;
    min-height: 100px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
    }

    .hero-content {

        width: 100%;
        padding-top: 13rem;
        margin-left: 1rem;
        
    }

    .small-heading {

     width: 100%;
    font-size: 15px;
    margin-left: 0.5rem;

    }

 

    .hero-content p {

    width: 100%;
    font-size: 20px;
    line-height: 1.8;
    /* text-align: center; */
    max-width: 90%;
    /* margin: 0 auto; */
    margin-top: 1.3rem;
    margin-left: 0.5rem;
    

    }

    
    .landing-section {

        height: 100px;
        min-height: 630px;
        padding: 20px 1.5rem;
        /* box-sizing: border-box; */
    }

    .

    .bottom-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
   
    }

    .bottom-text h3 {

    
    }

    
    .ready {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;

    }

    .ready-icon {

    font-size: 2px;
    margin-left: -20px;

    }

    .ready1 h2 {

    font-size: 13px;
    width: 150px;
    margin-top: 0.2rem;
    margin-left: -3px;
    

    }

      .ready1 p {

     font-size: 13px;
    width: 150px;
    /* margin-top: 1rem; */
     margin-left: -3px;
     
    
    }

    .ready111 {

    width: 90px;
    font-size: 10px;
    
    }

    .footer {

    display: flex;
    height: fit-content;

    }

    .footer-container {

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    
    }

    .footer-brand h3 {

    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;

    }

    .footer-brand p {

    text-align: center;
    /* padding-bottom:1rem ; */
    
    }

    .footer-socials {
    
    margin-bottom: 20px;
    margin-left: 1.2rem;
    text-align: center;
    }

    .footer-copy {

    font-size: 17px;
    text-align: center;
    width: 100%;
    /* display: block; */
    margin: 0 auto;
    margin-left: 2rem;
    padding-bottom:1.5rem ;

    }

}


    

